@keyframes pulse {
  25% {
    transform: scale(1.1); }
  75% {
    transform: scale(0.9); } }

@keyframes push {
  50% {
    transform: scale(0.8); }
  100% {
    transform: scale(1); } }

@keyframes pop {
  50% {
    transform: scale(1.2); } }

@keyframes wobble-horizontal {
  16.65% {
    transform: translateX(8px); }
  33.3% {
    transform: translateX(-6px); }
  49.95% {
    transform: translateX(4px); }
  66.6% {
    transform: translateX(-2px); }
  83.25% {
    transform: translateX(1px); }
  100% {
    transform: translateX(0); } }

@keyframes wobble-vertical {
  16.65% {
    transform: translateY(8px); }
  33.3% {
    transform: translateY(-6px); }
  49.95% {
    transform: translateY(4px); }
  66.6% {
    transform: translateY(-2px); }
  83.25% {
    transform: translateY(1px); }
  100% {
    transform: translateY(0); } }

@keyframes wobble-to-bottom {
  16.65% {
    transform: translate(8px, 8px); }
  33.3% {
    transform: translate(-6px, -6px); }
  49.95% {
    transform: translate(4px, 4px); }
  66.6% {
    transform: translate(-2px, -2px); }
  83.25% {
    transform: translate(1px, 1px); }
  100% {
    transform: translate(0, 0); } }

@keyframes wobble-to-top {
  16.65% {
    transform: translate(8px, -8px); }
  33.3% {
    transform: translate(-6px, 6px); }
  49.95% {
    transform: translate(4px, -4px); }
  66.6% {
    transform: translate(-2px, 2px); }
  83.25% {
    transform: translate(1px, -1px); }
  100% {
    transform: translate(0, 0); } }

@keyframes wobble-top {
  16.65% {
    transform: skew(-12deg); }
  33.3% {
    transform: skew(10deg); }
  49.95% {
    transform: skew(-6deg); }
  66.6% {
    transform: skew(4deg); }
  83.25% {
    transform: skew(-2deg); }
  100% {
    transform: skew(0); } }

@keyframes wobble-bottom {
  16.65% {
    transform: skew(-12deg); }
  33.3% {
    transform: skew(10deg); }
  49.95% {
    transform: skew(-6deg); }
  66.6% {
    transform: skew(4deg); }
  83.25% {
    transform: skew(-2deg); }
  100% {
    transform: skew(0); } }

@keyframes wobble-skew {
  16.65% {
    transform: skew(-12deg); }
  33.3% {
    transform: skew(10deg); }
  49.95% {
    transform: skew(-6deg); }
  66.6% {
    transform: skew(4deg); }
  83.25% {
    transform: skew(-2deg); }
  100% {
    transform: skew(0); } }

@keyframes color-pulse {
  50% {
    opacity: 0.5; } }

.btn-pulse:hover, .btn-push:hover, .btn-pop:hover, .btn-wobble-horizontal:hover, .btn-wobble-vertical:hover, .btn-wobble-to-bottom:hover, .btn-wobble-to-top:hover, .btn-wobble-top:hover, .btn-wobble-bottom:hover, .btn-wobble-skew:hover {
  animation-duration: 1s;
  animation-timing-function: linear; }

.btn-color-move-right, .btn-color-move-right-bounce, .btn-color-move-left, .btn-color-move-left-bounce, .btn-color-move-bottom, .btn-color-move-bottom-bounce, .btn-color-move-top, .btn-color-move-top-bounce, .btn-color-move-shutter-vertical, .btn-color-move-shutter-horizontal {
  transition-property: color; }
  .btn-color-move-right:hover, .btn-color-move-right-bounce:hover, .btn-color-move-left:hover, .btn-color-move-left-bounce:hover, .btn-color-move-bottom:hover, .btn-color-move-bottom-bounce:hover, .btn-color-move-top:hover, .btn-color-move-top-bounce:hover, .btn-color-move-shutter-vertical:hover, .btn-color-move-shutter-horizontal:hover {
    color: #000000;
    border-color: #fff !important; }
  .btn-color-move-right:before, .btn-color-move-right-bounce:before, .btn-color-move-left:before, .btn-color-move-left-bounce:before, .btn-color-move-bottom:before, .btn-color-move-bottom-bounce:before, .btn-color-move-top:before, .btn-color-move-top-bounce:before, .btn-color-move-shutter-vertical:before, .btn-color-move-shutter-horizontal:before {
    content: "";
    position: absolute;
    z-index: -1;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background: #fff;
    transition-property: transform;
    transition-duration: .3s;
    transition-timing-function: ease-out; }

.btn-border-underline, .btn-border-overline {
  transition-property: color; }
  .btn-border-underline:before, .btn-border-overline:before {
    content: "";
    position: absolute;
    z-index: -1;
    background: #fff;
    transition-duration: .3s;
    transition-timing-function: ease-out; }

body, button {
  font-family: "Segoe UI", Roboto, Helvetica, Arial, sans-serif;
  color: #000000;
  font-size: 1rem; }

.btn {
  display: inline-block;
  text-align: center;
  cursor: pointer;
  border: 1px solid transparent;
  padding: .375rem .75rem;
  text-decoration: none;
  font-size: 1rem;
  transition: color 0.15s ease-in-out, background-color 0.15s ease-in-out, border-color 0.15s ease-in-out, box-shadow 0.15s ease-in-out;
  transition-duration: .3s;
  transition-property: transform;
  transform: perspective(1px) translateZ(0);
  -webkit-font-smoothing: antialiased; }

.btn-outline-primary {
  color: #007bff;
  background-color: #ffffff;
  border-color: #007bff; }
  .btn-outline-primary:hover {
    background-color: #007bff;
    color: #ffffff; }

.btn-outline-secondary {
  color: #6c757d;
  background-color: #ffffff;
  border-color: #6c757d; }
  .btn-outline-secondary:hover {
    background-color: #6c757d;
    color: #ffffff; }

.btn-outline-success {
  color: #28a745;
  background-color: #ffffff;
  border-color: #28a745; }
  .btn-outline-success:hover {
    background-color: #28a745;
    color: #ffffff; }

.btn-outline-info {
  color: #17a2b8;
  background-color: #ffffff;
  border-color: #17a2b8; }
  .btn-outline-info:hover {
    background-color: #17a2b8;
    color: #ffffff; }

.btn-outline-warning {
  color: #ffc107;
  background-color: #ffffff;
  border-color: #ffc107; }
  .btn-outline-warning:hover {
    background-color: #ffc107;
    color: #ffffff; }

.btn-outline-danger {
  color: #dc3545;
  background-color: #ffffff;
  border-color: #dc3545; }
  .btn-outline-danger:hover {
    background-color: #dc3545;
    color: #ffffff; }

.btn-outline-dark {
  color: #343a40;
  background-color: #ffffff;
  border-color: #343a40; }
  .btn-outline-dark:hover {
    background-color: #343a40;
    color: #ffffff; }

.btn-primary {
  color: #ffffff;
  background-color: #007bff;
  border-color: #007bff; }
  .btn-primary:hover {
    background-color: #0069d9;
    border-color: #0069d9; }

.btn-secondary {
  color: #ffffff;
  background-color: #6c757d;
  border-color: #6c757d; }
  .btn-secondary:hover {
    background-color: #5a6268;
    border-color: #5a6268; }

.btn-success {
  color: #ffffff;
  background-color: #28a745;
  border-color: #28a745; }
  .btn-success:hover {
    background-color: #218838;
    border-color: #218838; }

.btn-info {
  color: #ffffff;
  background-color: #17a2b8;
  border-color: #17a2b8; }
  .btn-info:hover {
    background-color: #138496;
    border-color: #138496; }

.btn-warning {
  color: #ffffff;
  background-color: #ffc107;
  border-color: #ffc107; }
  .btn-warning:hover {
    background-color: #e0a800;
    border-color: #e0a800; }

.btn-danger {
  color: #ffffff;
  background-color: #dc3545;
  border-color: #dc3545; }
  .btn-danger:hover {
    background-color: #c82333;
    border-color: #c82333; }

.btn-dark {
  color: #ffffff;
  background-color: #343a40;
  border-color: #343a40; }
  .btn-dark:hover {
    background-color: #23272b;
    border-color: #23272b; }

.btn-grow:hover {
  transform: scale(1.1); }

.btn-shrink:hover {
  transform: scale(0.9); }

.btn-rotate:hover {
  transform: rotate(4deg); }

.btn-grow-rotate:hover {
  transform: scale(1.1) rotate(4deg); }

.btn-skew:hover {
  transform: skew(-10deg); }

.btn-pulse:hover {
  animation-name: pulse;
  animation-iteration-count: infinite; }

.btn-push:hover {
  animation-name: push;
  animation-duration: 0.3s; }

.btn-pop:hover {
  animation-name: pop;
  animation-duration: 0.3s; }

.btn-wobble-horizontal:hover {
  animation-name: wobble-horizontal; }

.btn-wobble-vertical:hover {
  animation-name: wobble-vertical; }

.btn-wobble-to-bottom:hover {
  animation-name: wobble-to-bottom; }

.btn-wobble-to-top:hover {
  animation-name: wobble-to-top; }

.btn-wobble-top {
  transform-origin: 0 100%; }
  .btn-wobble-top:hover {
    animation-name: wobble-top; }

.btn-wobble-bottom {
  transform-origin: 100% 0; }
  .btn-wobble-bottom:hover {
    animation-name: wobble-bottom; }

.btn-wobble-skew:hover {
  animation-name: wobble-skew; }

.btn-fade {
  transition-duration: .3;
  transition-property: color, background-color; }

.btn-color-pulse {
  transition-duration: .5;
  transition-property: color, background-color; }
  .btn-color-pulse:hover {
    animation-name: color-pulse;
    animation-iteration-count: infinite;
    animation-duration: 1.5s;
    animation-delay: 0.5s; }

.btn-color-move-right:hover:before {
  transform: scaleX(1); }

.btn-color-move-right:before {
  transform: scaleX(0);
  transform-origin: 0 50%; }

.btn-color-move-right-bounce:hover:before {
  transform: scaleX(1);
  transition-timing-function: cubic-bezier(0.52, 1.64, 0.37, 0.66); }

.btn-color-move-right-bounce:before {
  transform: scaleX(0);
  transform-origin: 0 50%;
  transition-duration: .5s; }

.btn-color-move-left:hover:before {
  transform: scaleX(1); }

.btn-color-move-left:before {
  transform: scaleX(0);
  transform-origin: 100% 50%; }

.btn-color-move-left-bounce:hover:before {
  transform: scaleX(1);
  transition-timing-function: cubic-bezier(0.52, 1.64, 0.37, 0.66); }

.btn-color-move-left-bounce:before {
  transform: scaleX(0);
  transform-origin: 100% 50%;
  transition-duration: .5s; }

.btn-color-move-bottom:hover:before {
  transform: scaleY(1); }

.btn-color-move-bottom:before {
  transform: scaleY(0);
  transform-origin: 50% 0; }

.btn-color-move-bottom-bounce:hover:before {
  transform: scaleY(1);
  transition-timing-function: cubic-bezier(0.52, 1.64, 0.37, 0.66); }

.btn-color-move-bottom-bounce:before {
  transform: scaleY(0);
  transform-origin: 50% 0;
  transition-duration: .5s; }

.btn-color-move-top:hover:before {
  transform: scaleY(1); }

.btn-color-move-top:before {
  transform: scaleY(0);
  transform-origin: 50% 100%; }

.btn-color-move-top-bounce:hover:before {
  transform: scaleY(1);
  transition-timing-function: cubic-bezier(0.52, 1.64, 0.37, 0.66); }

.btn-color-move-top-bounce:before {
  transform: scaleY(0);
  transform-origin: 50% 100%;
  transition-duration: .5s; }

.btn-color-move-shutter-vertical:hover:before {
  transform: scaleY(1); }

.btn-color-move-shutter-vertical:before {
  transform: scaleY(0);
  transform-origin: 50%; }

.btn-color-move-shutter-horizontal:hover:before {
  transform: scaleX(1); }

.btn-color-move-shutter-horizontal:before {
  transform: scaleX(0);
  transform-origin: 50%; }

.btn-border-underline-right {
  transition-property: color; }
  .btn-border-underline-right:hover:before {
    left: 0; }
  .btn-border-underline-right:before {
    content: "";
    position: absolute;
    z-index: -1;
    background: #fff;
    transition-duration: .3s;
    transition-timing-function: ease-out;
    height: 3px;
    right: 0;
    bottom: 0;
    left: 100%;
    transition-property: left; }

.btn-border-underline-left {
  transition-property: color; }
  .btn-border-underline-left:hover:before {
    right: 0; }
  .btn-border-underline-left:before {
    content: "";
    position: absolute;
    z-index: -1;
    background: #fff;
    transition-duration: .3s;
    transition-timing-function: ease-out;
    height: 3px;
    left: 0;
    bottom: 0;
    right: 100%;
    transition-property: right; }

.btn-border-underline:hover:before, .btn-border-overline:hover:before {
  left: 0;
  right: 0; }

.btn-border-underline:before, .btn-border-overline:before {
  height: 3px;
  left: 50%;
  bottom: 0;
  right: 50%;
  transition-property: left, right; }

.btn-border-overline:before {
  top: 0; }

.btn-border-overline-right {
  transition-property: color; }
  .btn-border-overline-right:hover:before {
    left: 0; }
  .btn-border-overline-right:before {
    content: "";
    position: absolute;
    z-index: -1;
    background: #fff;
    transition-duration: .3s;
    transition-timing-function: ease-out;
    height: 3px;
    right: 0;
    top: 0;
    left: 100%;
    transition-property: left; }

.btn-border-overline-left {
  transition-property: color; }
  .btn-border-overline-left:hover:before {
    right: 0; }
  .btn-border-overline-left:before {
    content: "";
    position: absolute;
    z-index: -1;
    background: #fff;
    transition-duration: .3s;
    transition-timing-function: ease-out;
    height: 3px;
    left: 0;
    top: 0;
    right: 100%;
    transition-property: right; }

.btn-icon-left i {
  transition-duration: .1s;
  transition-property: transform;
  transition-timing-function: ease-out; }

.btn-icon-left:hover i {
  transform: translateX(-4px); }

.btn-icon-right i {
  transition-duration: .1s;
  transition-property: transform;
  transition-timing-function: ease-out; }

.btn-icon-right:hover i {
  transform: translateX(4px); }

.btn-icon-top i {
  transition-duration: .1s;
  transition-property: transform;
  transition-timing-function: ease-out; }

.btn-icon-top:hover i {
  transform: translateY(-4px); }

.btn-icon-bottom i {
  transition-duration: .1s;
  transition-property: transform;
  transition-timing-function: ease-out; }

.btn-icon-bottom:hover i {
  transform: translateY(4px); }

.btn-icon-grow i {
  transition-duration: .1s;
  transition-property: transform;
  transition-timing-function: ease-out; }

.btn-icon-grow:hover i {
  transform: scale(1.3) translateZ(0); }

.btn-icon-shrink i {
  transition-duration: .1s;
  transition-property: transform;
  transition-timing-function: ease-out; }

.btn-icon-shrink:hover i {
  transform: scale(0.8) translateZ(0); }

.btn-icon-rotate i {
  transition-duration: .1s;
  transition-property: transform;
  transition-timing-function: ease-out; }

.btn-icon-rotate:hover i {
  transform: rotate(360deg); }

.btn-icon-rotate i {
  transition-duration: 1s; }

.btn-icon-color i {
  transition-duration: .5s;
  transition-property: color; }

.btn-icon-color:hover i {
  color: #000000; }

.btn-icon-pop i {
  transform: translateZ(0);
  transition-duration: 0.3s;
  transition-property: transform; }

.btn-icon-pop:hover i {
  animation-name: pop;
  animation-duration: 0.3s;
  transition-timing-function: linear;
  animation-iteration-count: 1; }

.btn-icon-push i {
  transform: translateZ(0);
  transition-duration: 0.3s;
  transition-property: transform; }

.btn-icon-push:hover i {
  animation-name: push;
  animation-duration: 0.3s;
  transition-timing-function: linear;
  animation-iteration-count: 1; }

.btn-icon-float i {
  transition-duration: .1s;
  transition-property: transform;
  transition-timing-function: ease-out; }

.btn-icon-float:hover i {
  transform: translateY(-4px); }

.btn-icon-float i {
  transition-duration: .3s; }

.btn-icon-sink i {
  transition-duration: .1s;
  transition-property: transform;
  transition-timing-function: ease-out; }

.btn-icon-sink:hover i {
  transform: translateY(4px); }

.btn-icon-sink i {
  transition-duration: .3s; }

.btn-icon-hor-wobble i {
  transform: translateZ(0);
  transition-duration: 1s;
  transition-property: transform; }

.btn-icon-hor-wobble:hover i {
  animation-name: wobble-horizontal;
  animation-duration: 1s;
  transition-timing-function: ease-in-out;
  animation-iteration-count: 1; }

.btn-icon-ver-wobble i {
  transform: translateZ(0);
  transition-duration: 1s;
  transition-property: transform; }

.btn-icon-ver-wobble:hover i {
  animation-name: wobble-vertical;
  animation-duration: 1s;
  transition-timing-function: ease-in-out;
  animation-iteration-count: 1; }
