@import 'vars'
@import 'mixins/button-mixins.sass'
@import 'placeholders'
@import 'keyframes'
    
body, button
    font-family: $font-stack
    color: $black
    font-size: $font-size


@import 'utils/buttons.sass'
